* {
  box-sizing: border-box;
  margin: 0;
}

body,
html {
  margin: 0;
}

body {
  font-family: "Lora", serif;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.checkbox-wrapper {
  margin-top: 30px;
}

.checkbox-wrapper > div {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
  cursor: pointer;
}

.checkbox-wrapper > div:last-child {
  margin-bottom: 0;
}

.cool-btn {
  width: 110px;
  height: 50px;
  background-color: #d3d2e0;
  border-radius: 100px;
  position: relative;
}

.circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ccffd9;
  position: absolute;
  left: 3px;
  top: 3px;
  transform: translateX(0px);
  transition: transform 0.5s ease-in-out;
}

.circle.checked {
  transform: translateX(60px);
}
.hidden {
  display: none;
}
